/*
    Notes: Using Block Element Modifier(BEM)
    Block Component => .btn {}
    Element that depends upon the block => .btn__price {}
    Modifier, that changes the style of a block => .btn--big {}

    colors: Light blue:
    light Blue: #19B5FE
    Dark Blue: #0670E8
*/

/*Normalizing*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*
    Using "px" is a bad practice + static design
    Other units like "rem" + "em" + "%" are use to make dynamic designs
    Default font size of browsers is 16px...to use this completely => font-size: 100%
    Our *custom* font size is 10px...to use it completely, i.e
     if the fontSize is changed by the user then other elements will adapt
     the change  => 10/16 * 100 = 62.5%
    */
    font-size: 62.5%;
    /* 
        62.5% = 10px which is the root font size
        1rem = 10px
    */
}

/* Default properties of all the body elements */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 2.8rem;
    line-height: 1.7
}

.header {
    height: 95vh;
    
    /*    linear-gradient -> color effect in the specified direction */
    background-image: linear-gradient( to left, rgb(126, 213, 111, 0.8)
    ,rgb(40, 180, 131, 0.8)), url(../assets/hero.jpg);

    background-size: cover;
    background-position: top;

    /*    shaping the background image*/
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    position: relative;
}

.header__logo-box {
    position: relative;
    padding: 4rem;
}

.header__logo {
    height: 3.8rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Main-heading in the header__text-box*/
.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}
.heading-primary--main {
    display: block;
    font-size: 5.8rem;
    letter-spacing: 3rem;
    font-weight: 500;
    animation: moveToRight 2s ease-in-out;
}

/*Sub-heading in the heading-text-box*/
.heading-primary--sub {
    display: block;
    font-size: 1.8rem;
    letter-spacing: 1.7rem;
    font-weight: 600;
    animation: moveToLeft 2s ease-in-out;
    margin-bottom: 5rem;
}

/*Primary Heading animation*/
@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        transform: translate(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Sub-Heading animation*/
@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        transform: translate(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Modifying the button */
.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.8rem 3.4rem;
    border-radius: 15rem;
    transition: 0.2s;
 }
.btn:hover {
    box-shadow: 0 1rem .5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
.btn:active {
    transform: translateZ(1px);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
}
.btn--white {
    background-color: #ffffff;
    color: #777777;
}
.btn::after {
    content: "";
    display: inline-block;
}