/*
colors: Light blue:
light Blue: #19B5FE
Dark Blue: #0670E8
*/

/*Normalizing*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default properties of all the body elements */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 28px;
    line-height: 1.7
}

.header {
    height: 93.5vh;

    /*    linear-gradient -> color effect in the specified direction */
    background-image: linear-gradient( to right, rgb(126, 213, 111, 0.8), rgb(40, 180, 131, 0.8)), url(../assets/hero.jpg);

    background-size: cover;
    background-position: center;

    /*    shaping the background image*/
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    position: relative;
}

.logo-box {
    position: relative;
    padding: 40px;
}

.logo {
    height: 38px;
}

.text-box {
    position: absolute;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*Main-heading in the heading-text-box*/

.text-box-primaryT {
    display: block;
    font-size: 58px;
    letter-spacing: 30px;
    font-weight: 500;
    animation: moveToRight 2s ease-in-out;
}

/*Sub-heading in the heading-text-box*/

.text-box-subT {
    display: block;
    font-size: 1rem;
    letter-spacing: 17px;
    font-weight: 600;
    animation: moveToLeft 2s ease-in-out;
    margin-bottom: 50px;
}

/*Heading animation*/

@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        transform: translate(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Heading animation*/

@keyframes moveToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        transform: translate(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Modifying the button */

.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    padding: 18px 34px;
    border-radius: 150px;
    transition: 0.2s;
 }
.btn:hover {
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
.btn:active {
    transform: translateZ(1px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #ffffff;
    color: #777777;
}
